.products--grid {
  display: flex;
  flex-direction: column;
}

.product-detail {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out 0.5s;
  transform: translateX(100%);
  &.active {
    transform: translateX(0);
  }
}

.product-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  .detail-container {
    width: 85%;

    img {
      border-radius: 15px;
    }
  }
}

//tablets
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
  .product-detail {
    left: 50%;
  }
}

//desktop
@media screen and (min-width: 64em) {
  .products--grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
  .product-detail {
    left: 50%;
  }
}
