<button (click)="createNewProduct()">Create</button>
<button (click)="onShowDetail('1321312')">Show Detail</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="onLoadMore()">Load More</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div class="detail-container" *ngIf="productChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <div>
      <h3>{{ productChosen.title }}</h3>
      <swiper [slidesPerView]="1">
        <ng-template swiperSlide *ngFor="let img of productChosen.images">
          <img [src]="img" alt="" />
        </ng-template>
      </swiper>
      <p>{{ productChosen.description }}</p>
      <button (click)="updateProduct()">Edit Product</button>
      <button (click)="deleteProduct()">Delete Product</button>
    </div>
  </div>
</div>
