<div>
  <header>
    <h3>Title</h3>
  </header>
  <nav>
    <ul>
      <li><a routerLink="grid">Grid page</a></li>
      <li><a routerLink="tasks">Tasks page</a></li>
      <li></li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
