<div class="card">
  <div class="card-content">
    <a [routerLink]="['/product', product.id]">
      <app-img
        *ngIf="product.images.length > 0"
        [img]="product.images[0]"
      ></app-img>
    </a>
    <h2>{{ product.price | currency: "VES" }}</h2>
    <p>{{ product.title }}</p>
    <p>{{ product?.taxes }}</p>
    <!-- <button (click)="onShowDetail()">Show Detail</button> -->
    <a routerLink="." [queryParams]="{ product: product.id }">Ver detalle</a>
    <button (click)="onAddToCart()">Add cart</button>
  </div>
</div>
