@import url("./app/styles/reset.scss");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
// @import "~swiper/swiper-bundle";
@import "swiper/scss";

* {
  font-family: "Quicksand", sans-serif;
}

.products--grid {
  app-img {
    img {
      border-radius: 10px;
      max-height: 200px;
      width: 100%;
    }
  }
}
